<div id="projects">
    <div id="midtop">
        <div id="midleft">
            <div id="profileBuffer">
                    <%= image_tag("bikes.PNG", width: '90%', style: ' box-shadow: 2px 2px 10px; border: 1px solid black') %> 
            </div>
        </div>
        <div id="projright">
            <h3> <a href="http://18.144.5.154/"> Bicycle Marketplace </a></h3>
            <a href="https://github.com/BretFarley129/Bicycle-Marketplace"> GitHub </a>
            <br>
            <br>
            <div>
                A "Craigslist-lite" application I made. Titled "Bicycle Marketplace", users can register,
                list bikes that they are willing to sell, edit said bikes and view bikes that other users 
                have posted. In addition to having fully verified registration, it also features acount lockout
                to deter fradulent login. Every 24 hours, a new "Bike of the day" is selected automatically and
                featured on the login page. When browsing for bikes, one can filter by the name of the bike to 
                quickly find the exact bike they are looking for. If you are interested in potentially purchasing 
                a bike you can click the contact button to display the sellers contact information.
            </div>
        </div>
    </div>
    <div id="projbottom">
        <h2> Technologies and frameworks </h2>
        <p> Javascript </p>
        <p> MongoDB </p>
        <p> Express </p>
        <p> Angular </p>
        <p> Node.js </p>
    </div>
    
</div>