<div id="midtop">
    <div id="midleft">
        <div id="profileBuffer">
            <%= image_tag("me.jpg", :style => 'height: 100%; border-radius: 50%; box-shadow: 2px 2px 10px; border: 1px solid black') %> 
        </div>
    </div>
    <div id="midright">
        <h3> About Me </h3>
        <div>
            As a current Web Development Teacher Assistant, I am a strong conceptual programmer with a 
            lot of in-field experience to build upon. That said, I am hungry to prove myself in a 
            professional development environment.
        </div>
    </div>
</div>
<div id="midbottom" style="text-align:center">
    <h3> Technologies and Skills </h3>
    <div class="column">
        <h3> Languages </h3>
        <div class="flair">
            <i class="devicon-python-plain"></i>
            Python
        </div>
        <div class="flair">
            <i class="devicon-ruby-plain"></i>
            Ruby
        </div>
        <div class="flair">
            <i class="devicon-javascript-plain"></i>
            Javascript
        </div>
        <div class="flair">
            <i class="devicon-cplusplus-line"></i>
            C++
        </div>
    </div>
    
    <div class="column">
        <h3> Frameworks </h3>
        <div class="flair">
            <i class="devicon-django-plain"></i>
            Django
        </div>
        <div class="flair">
            <i class="devicon-rails-plain"></i>
            Rails
        </div>
        <div class="flair">
            <i class="devicon-express-original"></i>
            Express
        </div>
        <div class="flair">
            <i class="devicon-angularjs-plain"></i>
            Angular
        </div>
    </div>
    
    <div class="column">
        <h3> Databases </h3>
        <div class="flair">
            <i class="devicon-postgresql-plain"></i>
            Postgre SQL
        </div>
        <div class="flair">
            <i class="devicon-mysql-plain"></i>
            My SQL
        </div>
        <div class="flair">
            <i class="devicon-mongodb-plain"></i>
            Mongo DB
        </div>
    </div>
    
    <div class="column">
        <h3> Other Neat Things </h3>
        <div class="flair">
            <i class="devicon-git-plain"></i>
            Git
        </div>
        <div class="flair">
            <i class="devicon-amazonwebservices-original"></i>
            AWS
        </div>
        <div class="flair">
            <i class="devicon-nginx-plain"></i>
            Nginx
        </div>
        <div class="flair">
            <i class="devicon-nodejs-plain"></i>
            NodeJS
        </div>
    </div>
    
</div>