<div id="projects">
        <div id="midtop">
            <div id="midleft">
                <div id="profileBuffer">
                </div>
            </div>
            <div id="midright">
                <h3> <a href="https://cdn.rawgit.com/BretFarley129/Snek-game/17f3263e/demo.html"> Snake </a></h3>
                <a href="https://github.com/BretFarley129/Snek-game"> GitHub </a>
                <br>
                <br>
                <div>
                    A version of the popular snake game. I designed this in under an hour
                </div>
            </div>
        </div>
        <div id="midbottom">
            <h2> Technologies and frameworks </h2>
            <p> Javascript </p>
            <p> HTML </p>
            <p> CSS </p>
        </div>
        
    </div>